/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./components/Stadium.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.Stadium_stadium__yO8Xu {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 20px auto;
  width: 300px;
  height: 250px;
  background-color: #e2e2e2;
  border: 5px double #777;
  border-radius: 45%;
}

.Stadium_field__A79aF {
  grid-area: 2 / 2 / 3 / 3;
  width: 150%;
  height: 80px;
  border-radius: 30%;
}

.Stadium_field_concerts__3xDC9 {
  border-right: 50px solid #777;
  cursor: pointer;
}

.Stadium_field_sports__BrDhU {
  background-color: #777;
}

.Stadium_north_tribune__kj8a6 {
  grid-area: 1 / 2 / 2 / 3;
  width: 100%;
  margin-top: 5px;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-top: 70px solid;
  border-radius: 15%;
  cursor: pointer;
}

.Stadium_northeast_tribune__g7_CN {
  grid-area: 1 / 3 / 2 / 4;
  width: 90%;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  border-top: 60px solid;
  transform: translate3d(-25px, 25px, 30px) rotate(35deg);
  border-radius: 15%;
  cursor: pointer;
}

.Stadium_east_tribune__1M29z {
  grid-area: 2 / 3 / 3 / 4;
  width: 100%;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  border-top: 60px solid;
  transform: rotate(90deg);
  border-radius: 15%;
  cursor: pointer;
}

.Stadium_southeast_tribune__7O_hv {
  grid-area: 3 / 3 / 4 / 4;
  width: 90%;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  border-bottom: 60px solid;
  transform: translate3d(-25px, -25px, -30px) rotate(-35deg);
  border-radius: 15%;
  cursor: pointer;
}

.Stadium_south_tribune__rX9V5 {
  grid-area: 3 / 2 / 4 / 3;
  width: 100%;
  margin-bottom: 5px;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 70px solid;
  border-radius: 15%;
  cursor: pointer;
}

.Stadium_southwest_tribune__dT_RV {
  grid-area: 3 / 1 / 4 / 2;
  width: 90%;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  border-bottom: 60px solid;
  transform: translate3d(25px, -25px, -30px) rotate(35deg);
  border-radius: 15%;
  cursor: pointer;
}

.Stadium_west_tribune__UZMGI {
  grid-area: 2 / 1 / 3 / 2;
  width: 100%;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  border-bottom: 60px solid;
  transform: rotate(90deg);
  border-radius: 15%;
  cursor: pointer;
}

.Stadium_northwest_tribune__OMoJm {
  grid-area: 1 / 1 / 2 / 2;
  width: 90%;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  border-top: 60px solid;
  transform: translate3d(25px, 25px, 30px) rotate(-35deg);
  border-radius: 15%;
  cursor: pointer;
}

.Stadium_available_top__YLJSp {
  border-top-color: #4caf50;
}

.Stadium_available_top__YLJSp:hover {
  border-top-color: #2f6931;
}

.Stadium_available_bottom__4di5I {
  border-bottom-color: #4caf50;
}

.Stadium_available_bottom__4di5I:hover {
  border-bottom-color: #2f6931;
}

.Stadium_blocked_top__PCuxP {
  border-top-color: #777;
  cursor: default;
}

.Stadium_blocked_bottom__ETGqP {
  border-bottom-color: #777;
  cursor: default;
}

.Stadium_field_available__1CMC_ {
  background-color: #4caf50;
}

.Stadium_field_available__1CMC_:hover {
  background-color: #2f6931;
}

.Stadium_field_selected__U2CCp {
  background-color: #f44336;
}

.Stadium_field_selected__U2CCp:hover {
  background-color: #64302c;
}

.Stadium_selected_top__Xdnpv {
  border-top-color: #f44336;
}

.Stadium_selected_bottom__y_xas {
  border-bottom-color: #f44336;
}

.Stadium_selected_top__Xdnpv:hover {
  border-top-color: #64302c;
}

.Stadium_selected_bottom__y_xas:hover {
  border-bottom-color: #64302c;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./components/Theatre.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.Theatre_seat__9JJ2C {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  margin: 2px;
  border: 2px double #777;
  font-size: 14px;
  cursor: pointer;
}

.Theatre_available__XyFTm {
  background-color: #4caf50;
  color: #4606f5;
}

.Theatre_available__XyFTm:hover {
  background-color: #2f6931;
}

.Theatre_selected__jg2kz {
  background-color: #f44336;
  color: #fff;
}

.Theatre_selected__jg2kz:hover {
  background-color: #64302c;
}

.Theatre_row___ulrs {
  display: flex;
  justify-content: right;
}

.Theatre_row_label__2MpFj {
  margin-right: 5px;
}

.Theatre_seat__9JJ2C:nth-child(6n) {
  margin-right: 15px;
}

.Theatre_theatre_layout__gV_jn {
  display: flex;
  flex-direction: column;
  margin: 15px auto;
}

.Theatre_scenery__bLGDY {
  margin: 0 auto 15px;
  height: 15px;
  width: 200px;
  border-radius: 200px 200px 0 0;
  background-color: #3d2e05;
}

